.carCard {
  display: block;
  margin: 5px;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background: #f0f0f0;
}

/*
.carCard:hover {
  position: relative;
  left: -2px;
  top: -2px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .7);
}
*/

.carCard .caption {
  text-align: center;
  margin-top: 0;
  margin-bottom: 5px;
}

.price {
  display: block;
  color: #fff;
  background: goldenrod;
  font-size: .8em;
  padding: 5px;
  text-transform: uppercase;
  text-align: center
}

.price-value {
  font-size: 1.5rem;
}

.year {
  color: #aaa;
}

.cardInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}