.carCard {
  display: block;
  margin: 5px;
  padding: 10px;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  background: #f0f0f0;
}

.carCard__caption {
  margin-top: 0;
  margin-bottom: 5px;
  text-align: center;
}

.price {
  display: block;
  padding: 5px;
  font-size: 0.8em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: goldenrod;
}

.price__value {
  font-size: 1.5rem;
}

.year {
  color: #aaa;
}

.cardInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
