.car_list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 90%;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
}

.car_list__item {
  color: black;
  text-decoration: none;
}
