.rentForm {
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  max-width: 420px;
  height: 500px;
  margin: 20px auto;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 5px;
  justify-content: space-around;
}

.caption {
  align-self: center;
  font-size: 2em;
  margin: 0;
}