.rentForm {
  display: flex;
  max-width: 410px;
  height: 500px;
  flex-direction: column;
  margin: 20px auto;
  padding: 10px;
  align-items: flex-end;
  justify-content: space-around;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 5px;
}

.rentForm__caption {
  align-self: center;
  font-size: 2em;
  margin: 0;
}
