.header {
  background: #333;
  color: white;
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  flex-wrap: wrap;
}

.navlist {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  flex-wrap: wrap;
} 

.navigation__link {
  margin: 5px 15px;
  color: white;
  text-decoration: none;
}
.navigation__link:hover {
  color: goldenrod;
} 

.logo {
  color: white;
  text-decoration: none;
}